<div class="container menu" *ngIf="_loginActive == false" [ngClass]="{'hidden': _loginActive}">
    <div class="row">
        <nav class="nav-menu">
            <ul id="dropdown1" class="dropdown-content">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#!" routerLink="/perfil">perfil</a></li>
                <li class="divider"></li>
                <li><a href="#!">sair</a></li>
            </ul>
            <div class="nav-wrapper">
                <a href="javascript:;" routerLink="/colaboradores" class="brand-logo center">Colabo<span>radores</span><span class="ponto">.<span></span></span></a>
                <ul class="left hide-on-med-and-down">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a href="javascript:;" routerLink="/login">Início</a>
                    </li>
                    <li>
                        <a href="javascript:;" (click)="pesquisar=true">
                        <i *ngIf="!pesquisar" class="material-icons">search</i></a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li class="li-perfil" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="dropdown-button" href="#!" [routerLink]="['/perfil/', idPerfilRoute]" data-activates="dropdown1">Perfil<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                </ul>

                <div class="nav-content">
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
        </nav>
        <nav *ngIf="pesquisar">
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon label-pesquisa" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>