body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.card-colaborador .card-title{
    margin-bottom: 0;
    line-height: 22px;
}

.card-colaborador .card .card-content {
    padding: 13px;
}
.card-colaborador .cargo,
.card-colaborador .empresa {
   color: grey;
}
.pagination li a {
    color: #d1dbe5;
}
.container.menu{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
}
.container.conteudo{
    min-height: 637px;
    font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
    border: 1px solid #546c85;
    border-radius: 10px;
    background-color: #253647;
    padding: 15px 20px;
}
.container.conteudo .row{
    margin-bottom: 0px;
}

.brand-logo, .nav-wrapper{
    font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
}
.brand-logo{
    padding-left: 15px;
    font-weight: 600;
}
.brand-logo span{
    font-weight: 100;
}
.brand-logo span.ponto{
    font-weight: 600;
}
.li-perfil{
    margin-right: 80px;
}
.container{
    width: 80%;
}
nav.nav-menu{
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}